@page "/"

@inject NotificationService NotificationService

<PageTitle>Index</PageTitle>

<h1>Hello Jan!</h1>

Welcome to Dryk App.

<RadzenButton Text="@text"></RadzenButton>
@code {
  string text = "Hi Jan";
}


<RadzenNotification/>


 <RadzenButton Text="Notification" Style="margin-bottom: 20px; width: 200px"
                    ButtonStyle="ButtonStyle.Info"
                    Click=@(args => ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Info, Summary = "Info Summary", Detail = "Info Detail", Duration = 4000 })) />
 


                      <EventConsole @ref=@console />


@code {
   EventConsole console;

    void ShowNotification(NotificationMessage message)
    {
        NotificationService.Notify(message);

        console.Log($"{message.Severity} notification");
    }
}