@inherits LayoutComponentBase

<div class="page">
	<div class="sidebar">
		<div class="logo"><img src="images/logo.png" /></div>
		<RadzenPanelMenu>
			<RadzenPanelMenuItem Text="Frontpage" Path="/" Icon="account_circle"></RadzenPanelMenuItem>
			<RadzenPanelMenuItem Text="Invoices" Path="invoices" Icon="account_circle"></RadzenPanelMenuItem>
			<RadzenPanelMenuItem Text="Create Order" Path="create-order" Icon="line_weight"></RadzenPanelMenuItem>
			<RadzenPanelMenuItem Text="FileInput" Path="fileinput" Icon="attach_file"></RadzenPanelMenuItem>
			<RadzenPanelMenuItem Text="Dialog" Path="dialog" Icon="perm_media"></RadzenPanelMenuItem>
			<RadzenPanelMenuItem Text="Notification" Path="notification" Icon="announcement"></RadzenPanelMenuItem>
		</RadzenPanelMenu>
		
	</div>

	<main>
		<div class="top-row px-4">
			<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
		</div>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>
